/* limpia pagina al cargar*/
* {
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*Estilos barra Menu Principal*/
.navbar {
  box-shadow: 1px 1px 5px;
}
.navbar-brand {
  margin-left: 80px;
}
.navbar-nav {
  margin-right: 80px;
}
.nav-item a:hover{
  background: #ccae93;
  border-radius: 5px;
  transition: .5s;
  color: rgb(255, 255, 255);
}
.nav-item {
  text-decoration: none;
  color: black;
}
.nav-item li{
  text-align: center;
}
.nav-item li:hover{
  background: #ccae93;
  border-radius: 5px;
  transition: .5s;
  color: rgb(255, 255, 255);
}

/* espaciado carrucel*/
section {
  margin: 50px 0 60px;
}

/* espaciado bienvenida*/
.Description {
  margin: 80px 0 50px;
}

/*Estilo seccion Description*/
.column {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.column p {
 padding: 20px;
}

/* estilos a Estadisticas*/
.fun-fact {
  margin-bottom: 50px;
  padding: 100px;
  background-color: #ccae93;
}
.fun-icon a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  height: 68px;
  line-height: 68px;
  width: 68px;
}
.single-fun-fact p {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
}
.single-fun-fact h5 {
  color: #fff;
  display: inline-block;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 8px;
  text-transform: uppercase;
}

/* Estilos de las Cards*/
.card {
  width: 250px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.card h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 5px;
}
.card a {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
}
.card p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 5px;
}

/* Estilos al Footer */
.footer-top {
  margin: 30px 0 0;
  padding-top: 30px;
  background: #e6dbd3 none repeat scroll 0 0;
}
.footer-title {
  font-size: 1.2em;
  font-weight: 500;
}
.single-footer ul li a {
  color: #5e5e5e;
  text-transform: capitalize;
  text-decoration: none;
}
.single-footer.quick-links li:before {
  background: #5e5e5e none repeat scroll 0 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 5px;
}
.single-footer.quick-links li {
  display: block;
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;
}
.footer-bottom {
  background: #e1e1e1 none repeat scroll 0 0;
  padding: 10px;
}

/* Estilos API*/
.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.weather-data__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.weather-data__icon {
  margin-right: 10px;
}
